<<<<<<< HEAD
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
 color: #132639;
 
}

li {content: "•"; 
	color:#2d5986;

}

h1 {

font-family: Arial, Helvetica, sans-serif;
 color: #060d13;

}

h2 {

font-family: Arial, Helvetica, sans-serif;
 color: #060d13;

}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
=======
/* Your custom styles */
>>>>>>> a3dbd6e5d433f40fb11e1324fbdd24d5fa96f03e
